Hi,

Thank you for signin up to our service.

I’m guessing it's not every day that you sign up for a new service. That's why I want to make sure everything is in place for you to feel welcome and at home. On the slightest whim, please drop us a line hello@bufferapp.com or Tweet us @bufferapp.

I hope you have already got the gist of using Buffer. If there is just one single tip for getting the most out of it, I'd say try the browser extension. I think you'll love it. It’s a terrific way to amaze your friends and followers with awesome content you find on the web. Whenever you find something you want to share, click the Buffer icon in your browser. That’s it.

One last thing I want to say is that the whole team are always around, almost 24/7, to reply to your emails. In fact, you can just hit reply to this email or any others you receive from us. Whether you need help, have ideas or just want to say "hello", we'll get back to you within a few hours.

= "- Sebastian, AppAgencies.com"