%nav.subnav
  %ul
    %li{class: cp(settings_account_path)}
      = link_to "Account", settings_account_path
    - if current_user.subscription?
      %li{class: cp(subscription_path(current_user.subscription))}
        = link_to "Pro", subscription_path(current_user.subscription)
    - else
      %li
        = link_to "Upgrade!", new_subscription_path