%nav.subnav
  %ul
    %li{class: cp(settings_account_path)}
      = link_to "Account", settings_account_path
    - if current_user.subscription?
      - if current_user.subscription.new_record?
        %li{class: cp(new_subscription_path)}
          = link_to "Upgrade!", new_subscription_path
      - else
        %li{class: cp(settings_pro_path)}
          = link_to "Pro", settings_pro_path
    - else
      %li{class: cp(new_subscription_path)}
        = link_to "Upgrade!", new_subscription_path
