= render "shared/filter"

#content.inner
  #companies
    - unless @companies.nil?
      - @companies.each do |company|
        = render 'company', :company => company

  #paginator
    = link_to_next_page @companies, 'Show More Companies', :param_name => :page, :remote => true, :disable_with => "Loading..."