- title "Find the perfect Mobile App Developer"
= render "shared/filter"

#content.inner
  #companies
    - unless @companies.nil?
      - @companies.each do |company|
        = render 'company', :company => company

  #paginator
    = link_to_next_page @companies, 'Show More Companies', :params => params, :remote => true, :disable_with => "<img src='assets/loadmore-spinner.gif' /> Loading..."