#signup-steps
  .inner
    %ol
      %li.step.previous
        %span.bullet
          1
        %span.label
          Create Account
      %li.step.current
        %span.bullet
          2
        %span.label
          Company Details
      %li.step
        %span.bullet
          3
        %span.label
          Apps Details
      %li.step
        %span.bullet
          4
        %span.label
          Upgrade
      %li.step
        %span.bullet
          5
        %span.label
          Publish

.edit-listing.inner
  %h2 Add your company

  .edit.company
    = form_for @company, :url => wizard_path, :method => :put do |f|
      = render "companies/form", :f => f