#plans.inner
  %h1 Choose your plan
  .plan
    .name
      %h2= link_to "Free", next_wizard_path
    .details
      .price
        Free
  .plan
    .name
      %h2= link_to "Pro", new_subscription_path
    .details
      .price
        99$/month