#about
  .intro
    .inner
      %h1
        AppAgencies is a directory of mobile app developers.
      %h2
        Find the perfect mobile app developer for your next project.

  .faq.inner
    %h2 Frequently Asked Questions
    %dl
      %dt How much does it cost to be listed?
      %dd
        A basic listing is completely free. We also offer a Pro listing for $99/month.
        %br
        A Pro listing enlarges your ad by 400%, showcases up to 3 apps in an interactive format, and is always displayed above free listings.
        You can upgrade, downgrade or cancel anytime.
        Payment is convenient and safely handled through Paypal, all you need is a credit card.

      %dt More questions?
      %dd
        Contact us at
        = mail_to "contact@appagencies.com"
        , we're happy to help!