.account
  margin: 20px auto

.cancel-account
  @extend %box
  h3
    margin: 0 0 5px 0
  p
    margin: 0
  a
    color: $red
    &:hover
      color: shade($red, 10%)

.edit-user
  @extend %box
  margin: 0 0 10px 0
