.account
  margin: 20px auto
  border: 1px solid #c3c3c3
  @include border-radius(4px)
  background: #fff
  padding: 0

.cancel-account
  border-top: 1px solid #c3c3c3
  padding: 20px
  h3
    margin: 0 0 20px 0
  a
    color: $red
    &:hover
      color: shade($red, 10%)

.edit-user
  padding: 20px