h3
  margin: 0 0 10px 0

.account
  margin: 20px auto

.cancel-account
  border-top: 1px solid #E0E0E0
  padding: 20px
  margin-top: 20px
  p
    margin: 0
  a
    color: $red
    font-style: italic
    &:hover
      color: shade($red, 10%)

.edit-user
