body
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif
  font-size: 13px
  background: #fcfcfc
  min-width: 1000px
  color: $black

/* Fonts */
@font-face
  font-family: 'BloklettersViltstift'
  src: url('/fonts/Blokletters-Viltstift-webfont.eot')
  src: url('/fonts/Blokletters-Viltstift-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Blokletters-Viltstift-webfont.woff') format('woff'), url('/fonts/Blokletters-Viltstift-webfont.ttf') format('truetype'), url('/fonts/Blokletters-Viltstift-webfont.svg#BloklettersViltstift') format('svg')
  font-weight: normal
  font-style: normal

.accentuate
  font-family: 'BloklettersViltstift'
  font-size: 22px

a, a:visited
  color: #999
  text-decoration: none
  &:hover
    color: $blue

/* Base Style */

.inner
  width: 960px
  margin: 0 auto
  padding: 0 10px

.hide
  display: none

#header
  height: 67px
  background: #2b2b2b image-url("header-bg.png") repeat-x
  .inner
    @include clearfix
  .logo
    float: left
    margin: 0
    padding: 10px 0
    height: 47px
    width: 220px
    background: image-url("logo.png") no-repeat center left
    overflow: hidden
    &:hover
      opacity: 0.9
    a
      width: 220px
      height: 47px
      display: block
      @include hide-text

  nav
    float: right
    padding: 10px 0
    ul li
      display: inline-block
      padding: 13px 0
      margin: 0 0 0 20px
      vertical-align: middle
      color: white
      font-size: 14px
    a
      text-decoration: none
      color: white
      &:hover
        color: shade(white, 10%)
    .blue
      background-color: $blue
      padding: 5px 10px
      text-shadow: 0 1px 0 rgba(0,0,0,.2)
      border-radius: 2px
      &:hover
        color: white
        background-color: $darkblue
    .getlisted a
      @extend .blue
    .upgrade a
      @extend .blue
    .current
      background: #252525
      padding: 5px 10px
      border-radius: 2px
    .logout a
      background: image-url("logout-icon.png") no-repeat top left
      height: 20px
      text-indent: -99999px
      width: 25px
      display: inline-block
      &:hover
        background-position: 0 -20px

/* Tagline */
.tagline
  text-align: center
  padding: 20px 0 0 0
  margin: 0 0 -20px 0
  h1
    margin: 0 20px 0 0
    display: inline-block
    background: image-url("tagline-arrow.png") no-repeat 100% 90%
    color: $black
    padding: 0 50px 20px 0
    strong
      font-size: 22px
      font-family: 'BloklettersViltstift'


/* Filter */
#filter
  background: #f5f5f5 image-url("whitesmoke-noise.png")
  border-top: 1px solid #fff
  border-bottom: 1px solid #e5e5e5
  @include clearfix

.filter
  float: left
  margin: 20px 20px 20px 0
  label
    font-size: 14px
    font-weight: bold
    display: inline-block
    margin: 0 0 5px 0

/* Filter Platforms */
#platforms
  .platform-options
    @include clearfix
    margin: 0
    padding: 0
    list-style: none
    li
      float: left
      position: relative
      width: 50px
      height: 50px
      border: 1px solid #e0e0e0
      border-bottom: 1px solid #c5c5c5
      margin: 0 0 0 -1px
      cursor: pointer
      position: relative
      @include linear-gradient(#fcfcfc, #ededed)
      label, input[type="checkbox"]
        display: none
      &:hover
        border-color: #a6a6a6
        z-index: 1
      &:active
        @include box-shadow(inset 0 2px 6px rgba(0,0,0,.1))
      &.active
        background: #fff
        border-color: #a6a6a6
        @include box-shadow(inset 0 2px 6px rgba(0,0,0,.1))
        z-index: 1
      .icon
        position: absolute
        background: image-url("platform-icons.png") no-repeat

    li.windows .icon
      top: 14px
      left: 12px
      height: 23px
      width: 26px
      background-position: 0 0
    li.windows.active .icon
      background-position: 100% 0
    li.android .icon
      top: 12px
      left: 14px
      height: 25px
      width: 22px
      background-position: 0 -25px
    li.android.active .icon
      background-position: 100% -25px
    li.ios .icon
      top: 11px
      left: 15px
      height: 25px
      width: 21px
      background-position: 0 -52px
    li.ios.active .icon
      background-position: 100% -52px
    li.blackberry .icon
      top: 14px
      left: 12px
      height: 23px
      width: 27px
      background-position: 0 -79px
    li.blackberry.active .icon
      background-position: 100% -79px
    li:first-child
      border-radius: 4px 0 0 4px
    li:last-child
      border-radius: 0 4px 4px 0

#location
  input
    border: 1px solid #e0e0e0
    border-bottom: 1px solid lighten(#c5c5c5, 5%)
    font-size: 17px
    font-weight: bold
    color: #373737
    padding: 15px 20px 15px 45px
    border-radius: 4px
    @include box-shadow(inset 0 1px 4px rgba(0,0,0,.05))
    background: #fcfcfc image-url("filter-location-icon.png") no-repeat 15px center
    &:focus
      border-color: #a6a6a6
      outline: 0

#filter
  .actions
    margin-top: 44px
    input
      @include cta($blue)
      height: 50px

.budget-options select
  width: 200px

#result_summary
  border-bottom: 1px solid #e1e1e1
  p
    padding: 10px 0
    color: #999
  b
    color: #666

/* Custom Select2 Skin */

#filter_budget
  width: 200px

.select2-container .select2-choice
  color: #373737
  font: bold 16px Helvetica, Arial, sans-serif
  height: 50px
  line-height: 50px
  border-color: #e0e0e0
  border-bottom: 1px solid #c5c5c5
  padding: 0 20px
  @include linear-gradient(#fcfcfc, #ededed)

.select2-container .select2-choice div
  background: none
  border: 0
  width: 10px
  margin: 0 20px

.select2-container-active .select2-choice
  @include box-shadow(none)
  border-color: #a6a6a6

.select2-container .select2-choice div b
  background: image-url("select2/select-arrow.png") no-repeat left center

.select2-dropdown-open .select2-choice
  @include box-shadow(none)

.select2-dropdown-open .select2-choice div b
  background-position: right center

.select2-drop
  @include box-shadow(none)
  border-color: #a6a6a6

.select2-results
  font-size: 16px
  margin: 10px 0
  padding: 0

.select2-results .select2-result-label
  padding: 4px 20px

/* Content */
#content
  margin: 10px auto

%box
  padding: 20px
  border: 1px solid #c3c3c3
  border-radius: 4px
  background: #fff

figure.app-icon
  position: relative
  height: 60px
  width: 60px
  img
    position: relative
    z-index: 0
    border: 0
  .mask
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: image-url("icon-mask.png") no-repeat top left
    z-index: 1

/* Paginator */
#paginator
  @include clearfix
  a
    display: block
    background: #f2f2f2
    margin: 10px
    border: 1px solid #c3c3c3
    padding: 10px
    border-radius: 4px
    @include box-shadow(inset 0 1px 0 #fff)
    text-align: center
    text-decoration: none
    color: $blue

.card
  border: 1px solid #c3c3c3
  border-radius: 4px
  @include box-shadow(inset 0 1px 0 #fff)
  background: #fff image-url("listing-bg.png") repeat-x top left
  margin: 10px
  &.large
    width: 458px
    height: 458px
  &.normal
    height: 218px
    width: 218px
  &.small
    width: 218px
    height: 98px

/* Companies */
#companies
  @include clearfix
  .company
    float: left
    position: relative
    &.normal, &.small
      .company-name
        line-height: 16px
        white-space: nowrap
        overflow: hidden
        a
          font-size: 16px
      .company-location, .company-budget
        font-size: 12px
    &.new
      &:after
        content: ""
        display: block
        position: absolute
        background: image-url("new-listing.png") no-repeat right top
        height: 108px
        width: 109px
        top: -1px
        right: -1px

  .company-content-wrapper
    padding: 20px

  .company-name
    margin: 0 0 5px 0
    line-height: 26px
    a
      color: $blue
      text-decoration: none
      font-size: 26px
      &:hover
        color: shade($blue, 10%)
      &:visited
        color: #551A8B
  .company-location
    margin: 0 0 2px 0
  .company-budget
    color: #999
    margin: 0 0 2px 0
    text-transform: uppercase
    font-style: italic

  .company-apps
    .app-icons
      @include clearfix
      margin: 10px 0
      padding: 0
      list-style: none
      li
        float: left
        opacity: .5
        .app-icon
          float: left
          margin: 0 10px 0 0
        &.active
          opacity: 1

    .apps-content
      .app
        display: none
        &.active
          display: block

    .app-name
      text-transform: uppercase
      color: $black
      font-weight: bold
      width: 160px
      margin: 0 0 5px 0
    .app-description
      color: #666
      font-size: 12px
      width: 160px
    .app-screenshots
      height: 383px
      width: 233px
      position: absolute
      bottom: 0
      right: 20px
      background: image-url("phone-mask.png") no-repeat
      .nav
        background: image-url("screenshot-nav.png") no-repeat
        position: absolute
        z-index: 999
        height: 25px
        width: 24px
        overflow: hidden
        bottom: 40%
        cursor: pointer
        &.prev
          background-position: 0 0
          left: 15px
        &.next
          background-position: 0 -25px
          right: 15px
      .app-screenshots-inner
        height: 290px
        width: 193px
        position: absolute
        bottom: 13px
        left: 20px
        overflow: hidden
        img
          height: 290px
          width: 193px

footer
  border-top: 1px solid #dadada
  @include clearfix
  opacity: .5
  @include transition(opacity, 0.5s)
  &:hover
    opacity: 1

  ul
    display: inline
    li
      display: inline-block
      a, a:visited
        color: $black
        text-decoration: none
        &:hover
          color: $blue

  #subnav
    margin: 10px 0
    ul li
      margin: 0 10px 0 0

  #copyright
    color: #A1A1A1

  #legal
    display: inline-block
    ul li
      margin: 0 0 0 10px
      a
        color: #A1A1A1
        &:hover
          color: shade(#a1a1a1, 30%)

  .backtotop
    float: right
    margin: 0
    display: none

  #social
    float: right
    margin: 0 0 20px 0
    ul li
      margin: 0 0 0 10px
    .icon
      background: image-url("social-icons.png") no-repeat top left
      display: inline-block
      height: 14px
      width: 14px
      vertical-align: -2px
    .twitter .icon
      background-position: 0 0
      width: 17px
    .fb .icon
      background-position: -18px 0

#upgrade
  margin: 20px auto